<div class="jumbotron">
  <h1>Step 2</h1>
  <p class="lead">Sign up for Shift Payments. For your safety, Shift needs your legal name and address to deliver your new Shift Card.</p>
</div>

<%= @error %>

<%= form_for @user do |f| %>
  <h3>Basic Information</h3>
  <hr />

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Email</label>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Mobile Number</label>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
    </div>
  </div>

  <h3>Physical Address</h3>
  <hr />

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>Street Address (No P.O. Boxes)</label>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>City</label>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label>Zip Code</label>
        <%= f.text_field :zip_code, class: 'form-control' %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label>State</label>
        <%= f.text_field :state, class: 'form-control' %>
      </div>
    </div>
  </div>

  <h3>Identity Verification</h3>
  <hr />

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>SSN</label>
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          </div>
          <%= f.text_field :ssn, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Date of Birth</label>
        <%= f.date_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="submit-button">
        <%= f.submit 'Send to Shift', class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>

<% end %>
